.home {
	width: 80%;
	margin: 15px;
	font-family: Roboto, sans-serif;
	transition: .3s;
	cursor: pointer;
}

.home img {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

.title {
	width: 100%;
	font-weight: 600;
	color: #333;
	font-size: 1.2rem;
	margin: 10px 0;
	/* line-height: 40px; */
}

.genre {
	width: 100%;
	word-break: break-word;
	color: rgb(171, 165, 165);
	/* font-family: Roboto; */
	font-size: .8rem;
	line-height: 1.5;
	font-weight: 500;
}